@page
@model IndexModel
@{
    ViewData["Title"] = "Portifolio Filipe Magalhães";
}
<style>
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
</style>
<body>    
<center style="width: 1520px;">
    <section class="d-flex flex-wrap justify-content-around align-items-center p-2" style="height: 740px;">
        <container-texts class="">
            <texts class=" azul-pastel text-center">
                <h1 class="display-4">Olá mundo, me chamo</h1>
                <h1 class="display-4 salmao">Filipe Magalhães</h1>
                <h2>Desenvolvedor Back-End</h2>
            </texts>
            <icons style="width: 200px;" class="d-flex justify-content-around">
                <a href="https://github.com/FMagalhaess" target="_blank" class="text-white">
                    <span class="bi--github"></span>
                </a>
                <a href="https://www.linkedin.com/in/filipemagalhaesdev/" target="_blank" class="text-white">
                    <span class="bi--linkedin"></span>
                </a>
            </icons>
        </container-texts>
        <div>
            <img class="rounded-circle" src="https://avatars.githubusercontent.com/u/123377601?v=4" alt="Desenvolvedor" class="img-fluid" />
        </div>
        <container class="align-self-end" style="width: 2200px">
                <span class="container-circle circle-with-arrows d-flex flex-column flex-wrap salmao-bg circle" >
                    <span class="iconamoon--arrow-up-2"></span>
                </span>
        </container>
    </section>
    <section class="d-flex flex-wrap flex-column justify-content-around align-items-center p-2">
        <div class="d-flex flex-column align-items-center">
            <h2 class="salmao">Projetos</h2><br/>
        </div>
        <div class="d-flex" style="width: 100vh;">
        <projetos-totais class="d-flex flex-wrap">
        @foreach (var projeto in Model.Projetos)
        {
        <div class="d-flex card-projeto">
        <projeto class="d-flex flex-column align-items-center justify-content-center projeto">
            <img class="projeto-thumb" src="https://placehold.co/300x300" alt="">
            <div class="stacks-principais d-flex">
                <div class="stack-holder">
                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="70" height="70" viewBox="0 0 30 30">
                    <path d="M15,3C8.373,3,3,8.373,3,15c0,5.623,3.872,10.328,9.092,11.63C12.036,26.468,12,26.28,12,26.047v-2.051 c-0.487,0-1.303,0-1.508,0c-0.821,0-1.551-0.353-1.905-1.009c-0.393-0.729-0.461-1.844-1.435-2.526 c-0.289-0.227-0.069-0.486,0.264-0.451c0.615,0.174,1.125,0.596,1.605,1.222c0.478,0.627,0.703,0.769,1.596,0.769 c0.433,0,1.081-0.025,1.691-0.121c0.328-0.833,0.895-1.6,1.588-1.962c-3.996-0.411-5.903-2.399-5.903-5.098 c0-1.162,0.495-2.286,1.336-3.233C9.053,10.647,8.706,8.73,9.435,8c1.798,0,2.885,1.166,3.146,1.481C13.477,9.174,14.461,9,15.495,9 c1.036,0,2.024,0.174,2.922,0.483C18.675,9.17,19.763,8,21.565,8c0.732,0.731,0.381,2.656,0.102,3.594 c0.836,0.945,1.328,2.066,1.328,3.226c0,2.697-1.904,4.684-5.894,5.097C18.199,20.49,19,22.1,19,23.313v2.734 c0,0.104-0.023,0.179-0.035,0.268C23.641,24.676,27,20.236,27,15C27,8.373,21.627,3,15,3z"></path>
                    </svg>
                    <p>GitHub</p>
                </div>
                <div class="stack-holder">
                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="70" height="70" viewBox="0 0 30 30">
                    <path d="M15,3C8.373,3,3,8.373,3,15c0,5.623,3.872,10.328,9.092,11.63C12.036,26.468,12,26.28,12,26.047v-2.051 c-0.487,0-1.303,0-1.508,0c-0.821,0-1.551-0.353-1.905-1.009c-0.393-0.729-0.461-1.844-1.435-2.526 c-0.289-0.227-0.069-0.486,0.264-0.451c0.615,0.174,1.125,0.596,1.605,1.222c0.478,0.627,0.703,0.769,1.596,0.769 c0.433,0,1.081-0.025,1.691-0.121c0.328-0.833,0.895-1.6,1.588-1.962c-3.996-0.411-5.903-2.399-5.903-5.098 c0-1.162,0.495-2.286,1.336-3.233C9.053,10.647,8.706,8.73,9.435,8c1.798,0,2.885,1.166,3.146,1.481C13.477,9.174,14.461,9,15.495,9 c1.036,0,2.024,0.174,2.922,0.483C18.675,9.17,19.763,8,21.565,8c0.732,0.731,0.381,2.656,0.102,3.594 c0.836,0.945,1.328,2.066,1.328,3.226c0,2.697-1.904,4.684-5.894,5.097C18.199,20.49,19,22.1,19,23.313v2.734 c0,0.104-0.023,0.179-0.035,0.268C23.641,24.676,27,20.236,27,15C27,8.373,21.627,3,15,3z"></path>
                </svg>
                    <p>GitHub</p>
                </div>
                <div class="stack-holder">
                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="70" height="70" viewBox="0 0 30 30">
                    <path d="M15,3C8.373,3,3,8.373,3,15c0,5.623,3.872,10.328,9.092,11.63C12.036,26.468,12,26.28,12,26.047v-2.051 c-0.487,0-1.303,0-1.508,0c-0.821,0-1.551-0.353-1.905-1.009c-0.393-0.729-0.461-1.844-1.435-2.526 c-0.289-0.227-0.069-0.486,0.264-0.451c0.615,0.174,1.125,0.596,1.605,1.222c0.478,0.627,0.703,0.769,1.596,0.769 c0.433,0,1.081-0.025,1.691-0.121c0.328-0.833,0.895-1.6,1.588-1.962c-3.996-0.411-5.903-2.399-5.903-5.098 c0-1.162,0.495-2.286,1.336-3.233C9.053,10.647,8.706,8.73,9.435,8c1.798,0,2.885,1.166,3.146,1.481C13.477,9.174,14.461,9,15.495,9 c1.036,0,2.024,0.174,2.922,0.483C18.675,9.17,19.763,8,21.565,8c0.732,0.731,0.381,2.656,0.102,3.594 c0.836,0.945,1.328,2.066,1.328,3.226c0,2.697-1.904,4.684-5.894,5.097C18.199,20.49,19,22.1,19,23.313v2.734 c0,0.104-0.023,0.179-0.035,0.268C23.641,24.676,27,20.236,27,15C27,8.373,21.627,3,15,3z"></path>
                </svg>
                    <p>GitHub</p>
                </div>
            </div>
        </projeto>
        <content class="d-flex flex-column">
            <p class="align-self-start titulo-projeto">@projeto.Nome</p>
            <p class="align-self-start descricao-projeto">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque imperdiet ultricies tincidunt. Aliquam erat volutpat. Sed faucibus nec enim et ultrices. Quisque rhoncus pretium congue. Suspendisse ultrices dolor non euismod scelerisque. In dui diam, ultricies non feugiat vel, ultricies ac urna. Vivamus placerat rutrum lacus sed posuere. Donec vestibulum molestie ligula, sed lacinia nulla venenatis ac. Cras imperdiet consequat ligula non pulvinar. Nulla sit amet enim condimentum, vestibulum elit at, auctor sem. Sed magna eros, venenatis at eleifend in, sodales in justo. Aliquam non orci et sapien dignissim blandit. Integer et dolor diam. Sed facilisis ut leo id semper. Integer ac nisl nibh. Fusce sem nunc, ultricies quis diam id, sollicitudin fringilla turpis.</p>
        </content>
        </div>

        }
        </projetos-totais>
        </div>
    </section>
    <section class=" d-flex flex-column">
        <div class="losango"></div>
        <div class="d-flex flex-wrap justify-content-around align-items-center p-2">
            <div class="d-flex flex-column align-items-center">
                <h2 class="salmao">Sobre mim</h2>
                <p class="text-justify">Sou um desenvolvedor back-end, com experiência em C#, bancos de dados (SQL Server, MySql).
                    Tenho experiência com desenvolvimento de aplicações web, utilizando tecnologias como C#, 
                    .NET Core, Entity Framework Core, SQL Server, HTML, CSS, JavaScript, Bootstrap, Git e GitHub.</p>
            </div>
            <div class="d-flex flex-column align-items-center">
                <h2 class="salmao">Habilidades</h2>
            </div>
    </section>
</center>
</body>
